<div class="container-fluid">
  <h3>Cadastro de Padrinhos</h3>
  <form name="formPadrinho" class="form-horizontal" role="form">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Dados Pessoais</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="inputNome" class="col-sm-4 control-label">Nome</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputNome" ng-model="ctrl.model.padrinho.nome" placeholder="Nome" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputSobrenome" class="col-sm-4 control-label">Sobrenome</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputSobrenome" ng-model="ctrl.model.padrinho.sobrenome" placeholder="Sobrenome" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputCpf" class="col-sm-4 control-label">CPF</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputCpf" ng-model="ctrl.model.padrinho.cpf" placeholder="CPF" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputData" class="col-sm-4 control-label">Data Nascimento</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" id="inputData" ng-model="ctrl.model.padrinho.dataNascimento" required>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Informações de Contato</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="inputEmail" class="col-sm-4 control-label">Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail" ng-model="ctrl.model.padrinho.contato.email" placeholder="Email" data-error="Endereço de Email inválido." required>
          </div>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="inputTelefone" class="col-sm-4 control-label">Telefone</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputTelefone" ng-model="ctrl.model.padrinho.contato.telefoneResidencial" ui-mask="99 9999-999?9">
          </div>
        </div>
        <div class="form-group">
          <label for="inputCelular" class="col-sm-4 control-label">Celular</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputCelular" ng-model="ctrl.model.padrinho.contato.celular" ui-mask="99 99999-999?9" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputResponsavel" class="col-sm-4 control-label">Responsável</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputResponsavel" ng-model="ctrl.model.padrinho.contato.responsavelContato">
          </div>
        </div>
        <div class="form-group">
          <label for="inputProfissao" class="col-sm-4 control-label">Profissão</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputProfissao" ng-model="ctrl.model.padrinho.contato.profissao">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="selectFormaContato">Forma Contato</label>
          <div class="col-sm-8">
            <ui-select ng-model="ctrl.model.formaContatoSelecionado" theme="bootstrap">
              <ui-select-match>{{ctrl.model.formaContatoSelecionado.descricao}}</ui-select-match>
              <ui-select-choices repeat="formaContato in ctrl.model.formasContato | filter: {descricao: $select.search} | orderBy:'descricao'">
                <span ng-bind-html="formaContato.descricao | highlight: $select.search" />
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="selectHorario">Horário Contato</label>
          <div class="col-sm-8">
            <ui-select ng-model="ctrl.model.horarioSelecionado" theme="bootstrap">
              <ui-select-match>{{ctrl.model.horarioSelecionado.descricao}}</ui-select-match>
              <ui-select-choices repeat="horarioContato in ctrl.model.horariosContato 
	          	| filter: {descricao: $select.search}">
                <span ng-bind-html="horarioContato.descricao | highlight: $select.search" />
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <button id="btnSalvar" type="submit" class="btn btn-success btn-s" ng-click="ctrl.salvarPadrinho()" ng-disabled="formPadrinho.$invalid">Salvar</button>
    <button id="btnBuscar" type="button" class="btn btn-success btn-s" ng-click="ctrl.buscarPadrinhos()">Buscar</button>
    <p>Resultado Padrinhos</p>
    <div ng-repeat="padrinho in ctrl.model.padrinhos">
      <div class="col-md-6">
        <td>{{padrinho.cpf}}</td>
      </div>
      <div class="col-md-6">
        <td>{{padrinho.dataNascimento}}</td>
      </div>
    </div>
  </form>
</div>
